Mount Drive

Import Libraries

In [ ]:
# Load libraries
import pandas as pd
import matplotlib.pyplot as mtp
import numpy as nm

Load Data

In [ ]:
data = pd.read_csv("Minor Project_data.csv")
data.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,MentHlth,PhysHlth,DiffWalk,Sex,Age
0,0,1,0,1,26,0,0,0,1,0,1,0,5,30,0,1,4
1,0,1,1,1,26,1,1,0,0,1,0,0,0,0,0,1,12
2,0,0,0,1,26,0,0,0,1,1,1,0,0,10,0,1,13
3,0,1,1,1,28,1,0,0,1,1,1,0,0,3,0,1,11
4,0,0,0,1,29,1,0,0,1,1,1,0,0,0,0,0,8

Missing Values Treatment

Min and Max Values

In [ ]:
bmi_min = data['BMI'].min()
bmi_max = data['BMI'].max()
mhealth_min = data['MentHlth'].min()
mhealth_max = data['MentHlth'].max()
phealth_min = data['PhysHlth'].min()
phealth_max = data['PhysHlth'].max()
age_min = data['Age'].min()
age_max = data['Age'].max()

Normalisation

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['BMI', 'MentHlth', 'PhysHlth', 'Age']
data[num_vars] = scaler.fit_transform(data[num_vars])
data.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,MentHlth,PhysHlth,DiffWalk,Sex,Age
0,0,1,0,1,0.162791,0,0,0,1,0,1,0,0.166667,1.000000,0,1,0.250000
1,0,1,1,1,0.162791,1,1,0,0,1,0,0,0.000000,0.000000,0,1,0.916667
2,0,0,0,1,0.162791,0,0,0,1,1,1,0,0.000000,0.333333,0,1,1.000000
3,0,1,1,1,0.186047,1,0,0,1,1,1,0,0.000000,0.100000,0,1,0.833333
4,0,0,0,1,0.197674,1,0,0,1,1,1,0,0.000000,0.000000,0,0,0.583333

Data Split

In [ ]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(data, train_size = 0.7, test_size = 0.3, random_state = 100)

In [ ]:
y_train = df_train.pop('Diabetes_binary')
X_train = df_train
y_test = df_test.pop('Diabetes_binary')
X_test = df_test

Random Forest with Entropy as cost function

In [ ]:
#Fitting Decision Tree classifier to the training set  
from sklearn.ensemble import RandomForestClassifier  
classifier= RandomForestClassifier(n_estimators= 14, criterion="entropy")  
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=14)

In [ ]:
#Predicting the test set result  
y_pred= classifier.predict(X_train)

In [ ]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_train, y_pred)
cm

array([[23561,  1252],
       [ 1550, 23121]])

In [ ]:
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
print("Training Accuracy:",metrics.accuracy_score(y_train, y_pred))

Training Accuracy: 0.9433756365693962

In [ ]:
#Predicting the test set result  
y_pred= classifier.predict(X_test)

In [ ]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)
cm

array([[7238, 3295],
       [3267, 7408]])

In [ ]:
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
print("Testing Accuracy:",metrics.accuracy_score(y_test, y_pred))

Testing Accuracy: 0.6905884571859675

Deployment

In [ ]:
import pickle
# Save the model
filename = 'random_forest_model.pkl'
pickle.dump(classifier, open(filename, 'wb'))

In [ ]:
list_of_columns=data.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['Diabetes_binary'], axis='columns',inplace=True)

input_data.at[0,'HighBP']=int(input('Enter if you have High BP (1 or 0) : '))
input_data.at[0,'HighChol']=int(input('Enter if you have High Cholestrol (1 or 0) : '))

input_data.at[0,'CholCheck']=int(input('Enter if you have cholestrol check in past 5 years (1 or 0)'))
input_data.at[0,'BMI']=int(input('Enter your BMI(Body Mass Index) : '))

input_data.at[0,'Smoker']=int(input('Enter if you are a Smoker or not (1 or 0): '))
input_data.at[0,'Stroke']=int(input('Enter if you had a Heart Stroke or not (1 or 0): '))

input_data.at[0,'HeartDiseaseorAttack']=int(input('Enter if you have any HeartDiseaseorAttack (1 or 0): '))
input_data.at[0,'PhysActivity']=int(input('Enter if you do any PhysActivity(job is excluded)(1 or 0): '))

input_data.at[0,'Fruits']=int(input('Enter if you eat any Fruits daily or not (1 or 0)  : '))
input_data.at[0,'Veggies']=int(input('Enter if you eat any Veggies daily or not (1 or 0)  : '))

input_data.at[0,'HvyAlcoholConsump']=int(input('Enter if you are a Heavy Alcohol Consumer or not (1 or 0) : '))
input_data.at[0,'MentHlth']=int(input('Enter no of days of poor Mental health : '))

input_data.at[0,'PhysHlth']=int(input('Enter no of days of poor Physical health : '))
input_data.at[0,'DiffWalk']=int(input('Enter if you have any difficulty in Walking or not  (1 or 0): '))

input_data.at[0,'Sex']=int(input('Enter your Gender (0- female, 1 - male) : '))

print('Please refer the below age category while uploading your age ')
print('1 (18 to 24) , 2 (25 to 29), 3 (30 to 34), 4 (35 to 39), 5 (40 to 44), 6(45 to 49), 7(50 to 54)')
print('8 (55 to 59), 9 (60 to 64), 10 (65 to 69), 11 (70 to 74), 12 (75 to 79), 13 (80 or older)')

input_data.at[0,'Age']=int(input('Enter your Age : '))

input_data['BMI']=(input_data['BMI']-data['BMI'].min())/(data['BMI'].max()-data['BMI'].min())
input_data['MentHlth']=(input_data['MentHlth']-data['MentHlth'].min())/(data['MentHlth'].max()-data['MentHlth'].min())
input_data['PhysHlth']=(input_data['PhysHlth']-data['PhysHlth'].min())/(data['PhysHlth'].max()-data['PhysHlth'].min())
input_data['Age']=(input_data['Age']-data['Age'].min())/(data['Age'].max()-data['Age'].min())

y_pred =  classifier.predict(input_data)

if(y_pred[0]==1):
  print("You may have Diabetes")
else:
  print('You are not having Diabetes')

Enter if you have High BP (1 or 0) : 0
Enter if you have High Cholestrol (1 or 0) : 0
Enter if you have cholestrol check in past 5 years (1 or 0)1
Enter your BMI(Body Mass Index) : 26
Enter if you are a Smoker or not (1 or 0): 0
Enter if you had a Heart Stroke or not (1 or 0): 0
Enter if you have any HeartDiseaseorAttack (1 or 0): 0
Enter if you do any PhysActivity(job is excluded)(1 or 0): 1
Enter if you eat any Fruits daily or not (1 or 0)  : 1
Enter if you eat any Veggies daily or not (1 or 0)  : 1
Enter if you are a Heavy Alcohol Consumer or not (1 or 0) : 0
Enter no of days of poor Mental health : 0
Enter no of days of poor Physical health : 1
Enter if you have any difficulty in Walking or not  (1 or 0): 0
Enter your Gender (0- female, 1 - male) : 0
Please refer the below age category while uploading your age
1 (18 to 24) , 2 (25 to 29), 3 (30 to 34), 4 (35 to 39), 5 (40 to 44), 6(45 to 49), 7(50 to 54)
8 (55 to 59), 9 (60 to 64), 10 (65 to 69), 11 (70 to 74), 12 (75 to 79), 13 (80 or older)
Enter your Age : 1
You are not having Diabetes